html, body {
    margin: 0;
    padding: 0;
    background-color: #F2F2F2;
}
/* Sliding menu */
.addBookMenu {
    display: flex;
    flex-direction: column;
    display: none;
}
.addBookMenu span {
    align-self: flex-end;
    font-size: 3em;
    padding: 0 .25em;
    font-family: 'Helvetica Neue', sans-serif;
    cursor: pointer;
    -webkit-user-select: none; /* Chrome/Safari */ 
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+ */
}
.addBookForm {
    width: 100vw;
    height: calc(100vh - 60px);
}
.addBookForm form {
    display: flex;
    flex-direction: column;
    width: calc(100vw - 1em);
    align-self: center;
    margin: 0 auto;
    height: 100%;
    max-width: 768px;
        width: 320px;
}

.addBookForm label {
    display: flex;
    justify-content: space-between;
    text-align: right;
    margin: 0.5em;
    padding: 0.5em 0;
    font-family: 'Helvetica', sans-serif;
    font-size: 0.9em;
    letter-spacing: 1px;
}

#submit {
    width: 240px;
    align-self: center;
    margin: 0.5em 0;
}

/* burger menu */
#burger {
    width: 100vw;
    height: 60px;
    display: flex;
    justify-content: flex-end;
}
#burger span {
    margin: 0;
    padding: 0 0.25em;
    font-size: 3em;
    font-family: 'Helvetica Neue', sans-serif;
    cursor: pointer;
    -webkit-user-select: none; /* Chrome/Safari */ 
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+ */
}

.item {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    width: 18em;
    min-height: 6em;
    background-color: grey;
    margin: 0 auto;
    cursor: pointer;
	filter: drop-shadow(0.2rem 0.4rem 0.4rem rgba(0, 0, 30, 0.5));
}
.itemCloseBtn {
    align-self: flex-end;
    font-size: 2em;
    padding: 0.25em 0.5em 0 0;
    font-family: 'Helvetica Neue', sans-serif;
    -webkit-user-select: none; /* Chrome/Safari */ 
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+ */
}
.itemTitle {
    font-size: 2.5em;
    padding: 1em;
    font-family:Georgia, 'Times New Roman', Times, serif;
    -webkit-user-select: none; /* Chrome/Safari */ 
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+ */
}
.itemAuthor {
    font-size: 1.5em;
    text-align: right;
    padding: 1em;
    font-family:Georgia, 'Times New Roman', Times, serif;
    -webkit-user-select: none; /* Chrome/Safari */ 
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+ */
}
.itemPages {
    font-size: 2em;
    text-align: center;
}
#container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 1.25em;
    padding: 0 1em;
}
.flexContainer {
    display: flex;
    flex-direction: column;
    width: 100vw;
}
footer {
    width: 100vw;
    height: 60px;
}
